extends navbarlayout

block content
  div
    i.fa-solid.fa-caret-left#back

  .expired-container
    .expired-header
      h1 Expiring Items

    .expired-filter
      input#expiredsearch(type="text", placeholder="Search by name...")
      select#expiredFilter
        option(value="all") All Categories
        option(value="Equipment") Equipment
        option(value="Consumable") Consumables
        option(value="Medicine") Medicine

    table.expired-table
      thead
        tr
          th Item
          th Category
          th Quantity
          th Batch Number
          th Expiry
          th Days left
          th Status
          th Created At
          th Action
      tbody#expiredItems
       for item in items
          tr
            td= item.name
            td= item.category
            td= item.quantity
            td= item.batch_number 
            td= new Date(item.expiry_date).toLocaleDateString()
            td= item.days_left
            td.expire= item.status
            td= new Date(item.created_at).toLocaleString()
            td 
              a.edit-button(href=`/productDetails/` + item.id) Edit

block scripts
  script(src="/script.js")