extends navbarlayout

block content
  div
    i.fa-solid.fa-caret-left#back

  .expired-container
    .expired-header
      h1 Expired Items

    .expired-filter
    form(action="/expireditems" method="GET")
      input#inventorySearch(type="text", placeholder="Search by name..."  name="search", value=search || "")
      button.searchbtn(type="submit") Search
   

    table.expired-table
      thead
        tr
          th Item
          th Category
          th Quantity
          th Batch Number
          th Expiry
          th Status
          th Action
      tbody#expiredItems
       for item in items
          tr
            td= item.name
            td= item.category
            td= item.quantity
            td= item.batch_number 
            td= new Date(item.expiry_date).toLocaleDateString()
            td.expire= item.status
            td 
              a.edit-button(href=`/productDetails/` + item.id) Edit
       if items.length === 0
          tr
             td(colspan="7") No Expired items found

block scripts
  script(src="/script.js")