extends navbarlayout

block content
  div
    i.fa-solid.fa-caret-left#back

  .inventory-container
    .inventory-header
      h1 Inventory
      a.add-btn(href="/addStock")
       p + Add New Stock


    .inventory-filters
    form(action="/inventory" method="GET")
      input#inventorySearch(type="text", placeholder="Search by name..."  name="search", value=search || "")
      button.searchbtn(type="submit") Search
    select#categoryFilter(name="category")
      option(value="all" selected=(!category || category === 'all')) All Categories
      option(value="Equipment" selected=(category === 'Equipment')) Equipment
      option(value="Consumable" selected=(category === 'Consumable')) Consumables
      option(value="Medicine" selected=(category === 'Medicine')) Medicine

    table.inventory-table
      thead
        tr
          th Item
          th Category
          th Quantity
          th Batch Number
          th Expiry
          th Status
          th Actions
      tbody#inventorybody
        for item in items
          tr
            td= item.name
            td= item.category
            td= item.quantity
            td= item.batch_number
            td= new Date(item.expiry_date).toLocaleDateString()
            td
              if item.quantity == 0
                span.badge.out-of-stock Out of Stock
              else if item.quantity <= item.low_stock_threshold
                span.badge.low-stock Low Stock
              else 
                span.badge.in-stock In Stock

            td 
              a.edit-button(href=`/productDetails/` + item.id) Edit
        if items.length === 0
          tr
             td(colspan="7") No items found


block scripts
  script(src="/inventory.js")