extends navbarlayout

block content
  div
    i.fa-solid.fa-caret-left#back

  .inventory-container
    .inventory-header
      h1 Inventory
      button.add-btn + Add New Item

    .inventory-filters
      input#inventorySearch(type="text", placeholder="Search by name...")
      select#categoryFilter
        option(value="all") All Categories
        option(value="Equipment") Equipment
        option(value="Consumable") Consumables
        option(value="Medicine") Medicine

    table.inventory-table
      thead
        tr
          th Item
          th Category
          th Quantity
          th Batch Number
          th Expiry
          th Status
          th Actions
      tbody#inventorybody
        for item in items
          tr
            td= item.item_name
            td= item.category
            td= item.Quantity
            td= item.batch_no
            td= new Date(item.expiry_date).toLocaleDateString()
            td
              if item.Quantity == 0
                | Out of Stock
              else if item.Quantity <= 30
                | Low Stock 
              else 
                | In Stock
            td 
              a.edit-button(href=`/productDetails/${item.item_id}`) Edit



block scripts
  script(src="/inventory.js")