extends navbarlayout

block content
  // Back button
  div
    i.fa-solid.fa-caret-left#back

  .Lowstock-container
    .Lowstock-header
      h1 Low Stocks

    .Lowstock-filters
    form(action="/lowstock" method="GET")
      input#inventorySearch(type="text", placeholder="Search by name..."  name="search", value=search || "")
      button.searchbtn(type="submit") Search
    
    table.Lowstock-table
      thead
        tr
          th Item
          th Category
          th Quantity
          th Batch Number
          th Expiry
          th Status
      tbody#lowstockbody
       for item in items
          tr
            td= item.name
            td= item.category
            td= item.quantity
            td= item.batch_number 
            td= new Date(item.expiry_date).toLocaleDateString()
            td.status= item.status
            //- td 
            //-   a.edit-button(href=`/productDetails/` + item.item_id) Edit
       if items.length === 0
          tr
             td(colspan="7") No Low stock items found


block scripts
  script(src="/script.js")