extends navbarlayout

block content
  // Back button
  div
    i.fa-solid.fa-caret-left#back
  .productDetails
    //- console.log(product)
    h1 Product Details
    //- h2=product.id
    h2#name= product.name 
    p Category:
      span#category= product.category
  .productBody 
    div.quantity
      p Quantity:
        span#quantity=  product.quantity
      form.Qform(action=`/updateinventoryquantity/` + product.id  method="POST")
          //- label Quantity
          input(type="number" name="quantity" required)
          button(type="submit") Update
    div.quantity
      p Batch:
        span#batch=  product.batch_no
      form.Qform(action=`/updateinventorybatchNo/` + product.id  method="POST")
          //- label Batch Number
          input(type="text" name="batch_number" required)
          button(type="submit") Update
    div.quantity
      p Expiry:
        span#expiry=  new Date(product.expiry).toLocaleDateString()
      form.Qform(action=`/updateinventoryexpiry/` + product.id  method="POST")
          //- label(for="expiry_date") Expiry Date
          input(type="date" name="expiry_date" required)
          button(type="submit") Update
    div.quantity
      p Supplier:
        span#expiry= product.supplier
      form.Qform(action=`/updateinventorysupplier/` + product.id  method="POST")
          //- label(for="supplier") Supplier
          input(type="text" name="supplier" required)
          button(type="submit") Update
  .productbody
    p Threshold: 
      span#category= product.low_stock_threshold
    p Created at:
      span#expiry= new Date(product.created_at).toLocaleString()
    p Last Updated:
      span#expiry= new Date(product.updated_at).toLocaleString()
  .productfoot
    p 
       if product.quantity == 0
          span.badge.out-of-stock Out of Stock
       else if product.quantity <= 30
          span.badge.low-stock Low Stock
       else 
          span.badge.in-stock In Stock
    p#update Edit
    form(action=`/products/delete/` + product.id method="POST")
                button.delete-button(type="submit") Delete

    

block scripts
  script(src="/supplydetails.js")